---
interface Props {
    lang?: string;
    class?: string;
    backgroundColor?: 'white' | 'neutral';
}

const {lang, class: className, backgroundColor = 'white'} = Astro.props;

const bgColorClasses = {
    white: 'bg-white dark:bg-neutral-900',
    neutral: 'bg-neutral-50 dark:bg-neutral-800'
};
---
<section class:list={[
    'section',
    bgColorClasses[backgroundColor],
    className
]}>
    <slot/>
</section>