SITE_URL=your_site_url
WHATSAPP_NUMBER=you_number_whatsapp_contact
## Habilitar debug globalmente
DEBUG=true
## Solo habilitar archivos específicos (DEBUG por defecto)
DEBUG_PRINT="string de archivos o frases referenciales que ejecuta los logs"

MAILGUN_API_KEY=""
MAILGUN_URL=""