---
import { cn } from "~/utils";

interface Props {
  lang?: string;
  class?: string;
  backgroundColor?: "white" | "neutral";
}

const {
  lang,
  class: className,
  backgroundColor = "white",
  ...rest
} = Astro.props;

const baseClasses =
  "card bg-base-100 w-auto shadow-sm hover:shadow-xl transition-all duration-300";

const bgColorClasses = {
  white: "bg-white",
  neutral: "bg-neutral-50",
};

const classes = cn(className, baseClasses, bgColorClasses[backgroundColor]);
---

<div class={classes} {...rest}>
    <slot/>
</div>
