---
import Layout from "~/layouts/Layout.astro";
import {lang_es} from "~/constants";
interface Props {
    error: unknown;
}

const { error } = Astro.props;
---
<Layout lang={lang_es} title="Error 500">
    <div>{error instanceof Error ? error.message : "Error desconocido"}</div>
</Layout>