---
import { trans } from "../../utils/translations";
interface Props {
  lang: string;
}

const { lang } = Astro.props;
---

<h3
  class="text-xl font-semibold font-serif text-neutral-800 dark:text-neutral-100 mb-4"
>
  {trans(lang, "components.forms.contact.title")}
</h3>
<form id="contact-form" class="space-y-3">
  <div class="flex flex-col">
    <label for="email">{trans(lang, "components.forms.contact.lbl.email")}</label>
    <input
      id="email"
      type="email"
      placeholder={trans(lang, "components.forms.contact.placeholder.input")}
      class="input"
      required
      name="email"
    />
  </div>
  <div class="flex flex-col">
    <label for="message">{trans(lang, "components.forms.contact.lbl.descripcion")}</label>
    <textarea id="message" placeholder={trans(lang, "components.forms.contact.placeholder.textarea")} rows="3" class="input" name="message"
    ></textarea>
  </div>
  <button type="submit" class="btn btn-primary">{trans(lang, "components.forms.contact.btn.text")}</button>
</form>
